/* line 6, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
body {
  background-image: url("babies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* line 12, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 16, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#all {
  height: 100%;
  vertical-align: middle;
}

/* line 20, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#header {
  /*background: rgba(76, 175, 80, 0.8);*/
  /*background: #04B45FC0;*/
  display: none;
  background: rgba(4, 180, 95, 0.7);
  width: 50%;
  height: 35px;
  border-radius: 20px;
  margin: 30px;
  font-size: x-large;
  color: white;
  padding: 30px 0;
}

/* line 33, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#container {
  background: rgba(4, 180, 95, 0.7);
  border-radius: 20px;
  width: 90%;
  margin: 50px;
}

/* line 39, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#inner {
  padding: 20px;
  position: relative;
}

/* line 43, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.boxes {
  border: 2px dashed #CCC;
  margin: 30px;
  border-radius: 20px;
  position: relative;
  top: 10%;
  max-width: 400px;
  padding: 20px;
  font-size: xx-large;
  user-select: none;
}

/* line 54, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.whitening {
  border: 2px dashed white;
  background: rgba(255, 255, 255, 0.3);
  font-size: xx-large;
  height: 1em;
}

/* line 60, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.difficulty {
  display: inline;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}

/* line 69, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.selected {
  border: 1px dashed red;
}

/* line 72, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.arrow {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 35%;
  opacity: 0.6;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* line 84, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.arrow:hover {
  opacity: 1.0;
}

/* line 87, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.right {
  right: 30px;
}

/* line 90, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.left {
  left: 30px;
}

/* line 93, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#next {
  background-image: url("next.png");
  right: 0px;
}

/* line 97, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#prev {
  background-image: url("next.png");
  left: 0px;
  transform: rotate(180deg);
}

/* line 102, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#plus {
  background-image: url("plus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}

/* line 109, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#minus {
  background-image: url("delete.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}

/* line 116, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#edit {
  background-image: url("edit.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
}

/* line 123, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#index {
  background-image: url("information.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
  margin-left: 40px;
}

/* line 131, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#qm {
  background-image: url("questionmark.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 137, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#list {
  background-image: url("longlist.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}

/* line 144, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#import {
  background-image: url("import.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  border: none;
}

/* line 152, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.qmbox {
  background: rgba(255, 255, 255, 0.3);
  max-width: 500px;
  width: 50%;
  padding: 20px;
  font-size: x-large;
  height: 5em;
}

/* line 160, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.textin {
  background: rgba(255, 255, 255, 0.3);
  border: 2px dashed #CCC;
  border-radius: 10px;
  position: relative;
  top: 10%;
  padding: 5px;
  width: 70px;
}

/* line 169, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.little-margin {
  margin: 20px;
}

/* line 172, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.invisible {
  display: none;
}

/* line 175, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
#divindex {
  display: none;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  max-width: 400px;
  line-height: 40px;
}

/* line 185, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.listtable {
  background: rgba(4, 180, 95, 0.7);
  border: 3px dashed white;
  border-radius: 10px;
  padding: 40px;
}

/* line 191, /srv/http/turtles/app/assets/stylesheets/turtles.scss */
.submit {
  border: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

