// Place all the styles related to the Turtles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: url("babies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: black;
}
#all {
  height: 100%;
  vertical-align: middle;
}
#header {
  /*background: rgba(76, 175, 80, 0.8);*/
  /*background: #04B45FC0;*/
  display: none;
  background: rgba(4, 180, 95, 0.7);
  width: 50%;
  height: 35px;
  border-radius: 20px;
  margin: 30px;
  font-size: x-large;
  color: white;
  padding: 30px 0;
}
#container {
  background: rgba(4, 180, 95, 0.7);
  border-radius: 20px;
  width: 90%;
  margin: 50px;
}
#inner {
  padding: 20px;
  position: relative;
}
.boxes {
  border: 2px dashed #CCC;
  margin: 30px;
  border-radius: 20px;
  position: relative;
  top: 10%;
  max-width: 400px;
  padding: 20px;
  font-size: xx-large;
  user-select: none;
}
.whitening {
  border: 2px dashed white;
  background: rgba(255,255,255, 0.3);
  font-size: xx-large;
  height: 1em;
}
.difficulty {
  display: inline;
  background: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
}
.selected {
  border: 1px dashed red;
}
.arrow {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 35%;
  opacity: 0.6;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.arrow:hover {
  opacity: 1.0;
}
.right {
  right: 30px;
}
.left {
  left: 30px;
}
#next {
  background-image: url("next.png");
  right: 0px;
}
#prev {
  background-image: url("next.png");
  left: 0px;
  transform: rotate(180deg);
}
#plus {
  background-image: url("plus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}
#minus {
  background-image: url("delete.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}
#edit {
  background-image: url("edit.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
}
#index {
  background-image: url("information.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
  margin-left: 40px;
}
#qm {
  background-image: url("questionmark.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#list {
  background-image: url("longlist.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}
#import {
  background-image: url("import.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  border: none;
}
.qmbox {
  background: rgba(255,255,255, 0.3);
  max-width: 500px;
  width: 50%;
  padding: 20px;
  font-size: x-large;
  height: 5em;
}
.textin {
  background: rgba(255,255,255, 0.3);
  border: 2px dashed #CCC;
  border-radius: 10px;
  position: relative;
  top: 10%;
  padding: 5px;
  width: 70px;
}
.little-margin {
  margin: 20px;
}
.invisible {
  display: none;
}
#divindex {
  display: none;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  max-width: 400px;
  line-height: 40px;
}
#divindex .difficulty {
}
.listtable {
  background: rgba(4, 180, 95, 0.7);
  border: 3px dashed white;
  border-radius: 10px;
  padding: 40px;
}
.submit {
  border: none;
}
