
<script type="text/javascript" src="<%= Rails.public_path.join('/js/turtles.js') %>"></script>

<center>
<div id="all">
<div id="container">
<%= form_with model: @turtle, local: true do |form| %>
  <div id="inner">
    <%= link_to turtles_path, method: :get do %>
      <div id="qm" class='arrow left'>
      </div>
    <% end %>
    <%= form.submit "", id:'plus', class:'arrow right btn-trans' %>
    <%= form.text_area :left, class:"boxes qmbox", id:"box1" %>
    <%= form.text_area :right, class:"boxes qmbox", id:"box2" %>
    <div>
      <div class="difficulty" id="leicht" onclick="clickdiff(0,true)">
        Leicht
      </div>
      <div class="difficulty" id="ok" onclick="clickdiff(1,true)">
        OK
      </div>
      <div class="difficulty" id="schwer" onclick="clickdiff(2,true)">
        Schwer
      </div>
      <span class="little-margin">
        <%= form.label :index %>:
        <%= form.text_field :index, value:(defined?@index)?@index:@turtle[:index], class:"textin", id:"editindex" %>
      </span>
    </div>
    <%= form.text_field :difficulty, value:@turtle[:difficulty], class:"invisible", id:"difficulty" %>
  </div>
<% end %>
</div>
</div>
</center>
