

<center>
  <%= link_to turtles_path, method: :get do %>
    <div id="qm" class="arrow" style="position: relative">
    </div>
  <% end %>
  <br>
<div class="listtable">

  <%= link_to "dict.cc Vocab Lists", "https://my.dict.cc/lists/?f=-inlist-DEEN", method: :get %>
  <br>

  <%= form_with(url: "importme", method:"get", local:true) do |form| %>
    <%= form.text_area :url, class:"boxes qmbox", id:"box1" %>
    <br>
    <span class="difficulty">
      <%= check_box_tag "invert" %>
      <%= label_tag "Invert", "Invertiert" %>
    </span>
    <%= form.submit "Importieren", id:'', class:"difficulty submit" %>
  </div>
<% end %>

</div>

</center>
