
<script src="/js/turtles.js"></script>
<script>
  window.addEventListener('load', function(){ loadnext(); });
</script>
 
<%= content_tag :div, id: "temp_information", data: {turtles: @turtles, index: @index} do %>
<% end %>

<center>
<div id="all">
<div id="container">
  <div id="inner">
    <div id="prev" class='arrow' onclick="prev()">
    </div>
    <div id="next" class='arrow' onclick="next()">
    </div>
    <div id="box1" class="boxes">
    </div>
    <div id="box2" class="boxes" onclick="toggle()">
    </div>
    <div class="difficulty" id="leicht" onclick="clickdiff(0)">
      Leicht
    </div>
    <div class="difficulty" id="ok" onclick="clickdiff(1)">
      OK
    </div>
    <div class="difficulty" id="schwer" onclick="clickdiff(2)">
      Schwer
    </div>
    <div class="difficulty" id="index" onclick="toggle_index()">
    </div>
    <%= link_to turtles_list_path, method: :get do %>
      <div class="difficulty" id="list">
      </div>
    <% end %>
    <div class="difficulty" id="minus" onclick="delme()">
    </div>
    <div class="difficulty" id="edit" onclick="editme()">
    </div>
    <%= link_to new_turtle_path, method: :get do %>
      <div class="difficulty" id="plus">
      </div>
    <% end %>
    </a>

    <div id="divindex">
      <%= link_to turtles_path(index: "Alle"), method: :get do %>
        <div class="difficulty">Alle</div>
      <% end %>
      <% @indexe.each do |index| %>
      <%= link_to turtles_path(index: index.index), method: :get do %>
        <% if index.index == @index %>
          <div class="difficulty selected"><%= index.index %>
        <% else %>
          <div class="difficulty"><%= index.index %>
        <% end %>
        </div>
      <% end %>
      <% end %>
      <%= link_to turtles_import_path, method: :get do %>
        <div class="difficulty" id="import"></div>
      <% end %>
    </div>
  </div>
</div>
</div>
</center>

