

<center>
  <%= link_to turtles_path, method: :get do %>
    <div id="qm" class="arrow" style="position: relative">
    </div>
  <% end %>
  <br>
<table class="listtable">
  <tr>
    <th>Index</th>
  </tr>
  <% @indexe.each do |index| %>
    <tr>
      <td><%= index.index %></td>
      <td><%= link_to image_tag("delete.png", height:"15px"), turtles_delete_index_path(:index => index.index) %></td>
    </tr>
  <% end %>
</table>

<table class="listtable">
  <tr>
    <th>Vorderseite</th>
    <th>Rückseite</th>
    <th>Index</th>
    <th colspan="3"></th>
  </tr>

  <% @turtles.each do |turtle| %>
    <tr>
      <td><%= turtle.left %></td>
      <td><%= turtle.right %></td>
      <td><%= turtle.index %></td>
      <td><%= link_to image_tag("lupe.png", height:"15px"), turtle_path(turtle) %></td>
      <td><%= link_to image_tag("edit.png", height:"15px"), edit_turtle_path(turtle) %></td>
      <td><%= link_to image_tag("delete.png", height:"15px"), turtle_path(turtle), method: "delete" %></td>
    </tr>
  <% end %>
</table>

</center>
